// Colors
mainText = #000000


// Fonts
primaryFont = 'proxima-nova', Helvetica, sans-serif
headerFont = 'proxima-nova', Helvetica, sans-serif
secondaryFont = 'open-sans', Helvetica, sans-serif
base-font-size = 16px
base-line-height = 22px
base-font-weight = 400


// Containers
container-width = 1170px
.container
  margin: 0 auto
  max-width: container-width
  padding: 0 20px
  @media breakpoints.palm.breakpoint
    padding: 0 15px
