.section.labsList
  background-color: #f4f4f5
  .container
    position: relative

.labsCta
  padding: 40px

.labsCta-title
  font-size: 24px
  margin-bottom: 25px

.labsCta-paragraph
  p
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0

.lab
  border-radius: 5px
  box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.1)

.lab-top
  min-height: 250px
  border-radius: 5px 5px 0 0
  height: 100%
  position: relative
  background-repeat: no-repeat
  background-position: center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.lab-bottom
  border-radius: 0 0 5px 5px
  padding: 40px
  background-color: #FFFFFF
